@media screen and (min-width: 481px) and (max-width: 1254px) {

    /*--------------------------------------------wrapper--------------------------------------*/
    #wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #f6f2f2;
        height: 90%;
        width: 90%;
        border-radius: 5px;
        padding:30px;
        gap: 30px;

    }

    h1{
        font-size: 50px;
    }

    /*----------------------------------------creator--------------------------------------*/

    #creator {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: 50px;


    }

    .title{
        color: grey;
        font-size: 20px;
    }

    .section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    /*----------------------------------------section_one-------------------------------------------------*/

    #div_input{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    input{
        width: 90%;
        border: grey solid 1px;
        border-radius: 3px;
        padding: 10px;
        margin-right: 0;
    }

    #add{
        padding: 5px 10px;
        background: linear-gradient(white, lightgrey);
        border: 1px solid grey;
        border-radius: 3px;
        width: 30%;
        margin-top: 10px;
        font-weight: bold;
        font-size: 16px;
    }


    #add:hover{
        background: lightgrey;
    }
    #add:active{
        transform: scale(0.95);
    }

    /*----------------------------------------section_two-------------------------------------------------*/


    #div_listBox{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    select{
        height:300px;
        width: 90%;
        border: grey solid 1px;
        border-radius: 3px;
        overflow: hidden;
        margin-right: 0;


    }

    #wrapper_for_buttons{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap:10px;
        width: 100%;
    }

    #sorter_by_name{
        background: linear-gradient(white, lightgrey);
        border: 1px solid grey;
        border-radius: 3px;
        padding: 5px 10px;
        width: 60%;
        font-weight: bold;
        font-size: 16px;

    }
    #sorter_by_value{
        background: linear-gradient(white, lightgrey);
        border: 1px solid grey;
        border-radius: 3px;
        padding: 5px 10px;
        width: 60%;
        font-weight: bold;
        font-size: 16px;

    }


    #section_two button:hover{
        background: lightgrey;
    }
    #section_two button:active{
        transform: scale(0.95);
    }

    #delete{
        margin-top: 10px;
        width: 30%;
        background: linear-gradient(white, lightgrey);
        border: 1px solid grey;
        border-radius: 3px;
        padding: 5px 10px;
        font-weight: bold;
        font-size: 16px;

    }

}
