*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Inter, sans-serif;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    background: rgba(11, 112, 236, 0.55);
}

#users{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 300px;

}

.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #4053ea;
    height: 200px;
    width: 200px;
    text-align: center;
    color: white;
    border-radius: 10px;
    border: 10px solid #2d86d1;
    transition: 2s;
}

.user:hover{
    border-radius: 15px;
    border: 5px solid #2d86d1;
    transform: scale(1.1);
    transition: 2s;
}

a{
    text-decoration: none;
    color: #eaa5ea;
}

a:visited{
    text-decoration: none;
    color: #fb8efb;
}