*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 50px 0;
    gap: 20px;
    background: rgba(11, 112, 236, 0.55);


}

#info_post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    background-color: #13bed3;
    border: 5px solid #0d7b8a;
    color: #1d2b95;
    padding: 20px;
}

h2{
    color: #1d2b95;
    font-weight: bold;

}

.commentsContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    width: 90%;
}

.infoComment{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #13bed3;
    height: auto;
    width: auto;
    color: #1d2b95;
    border-radius: 10px;
    border: 10px solid #0d7b8a;
    transition: 2s;
    gap: 10px;
    padding: 10px;
}

.infoComment:hover{
    border-radius: 15px;
    border: 5px solid #0d7b8a;
    transform: scale(1.1);
    transition: 2s;
}